@model Covid19.ViewModels.MeaOutsourceViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<style>

    #covid-form {
        font-size: 18px
    }

</style>

<div id="covid-form" class="panel panel-primary" style="margin-top:10px; margin-bottom:10px">
    <div class="panel-body">

        @using (Html.BeginForm("Register", "RptCovid19Ex", FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.PERSON_ID)

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">รหัสประจำตัวประชาชน :</label> @Model.PERSON_ID
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">ชื่อ <i style="color:red">*</i></label>
                        <input type="text" name="FIRSTNAME" class="form-control" autocomplete="off" value="@Model.FIRSTNAME" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label require">นามสกุล <i style="color:red">*</i></label>
                        <input type="text" name="LASTNAME" class="form-control" autocomplete="off" value="@Model.LASTNAME" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label require">หน่วยงาน/บริษัท <i style="color:red">*</i></label>
                        <input type="text" name="ORGDESC" class="form-control" autocomplete="off" value="@Model.ORGDESC" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label require">ตำแหน่ง <i style="color:red">*</i></label>
                        <input type="text" name="JOBDESC" class="form-control" autocomplete="off" value="@Model.JOBDESC" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">อีเมล</label>
                        <input type="text" name="EMAIL" class="form-control" autocomplete="off" value="@Model.EMAIL" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">หมายเลขโทรศัพท์</label>
                        <input type="text" name="TEL" class="form-control" autocomplete="off" value="@Model.TEL" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="form-group">
                        <button id="btnSubmit" type="submit" class="btn btn-primary"><i class="fa fa-save"></i> บันทึก</button>
                        <button class="btn btn-default" type="button" onclick="window.location.href='@Url.Action("Index")'"><i class="fa fa-remove"></i> ยกเลิก</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section scripts {

    <script type="text/javascript">
        $(function () {

            var validator = $("#form").validate({
                rules: {
                    FIRSTNAME: { required: true, maxlength: 255 },
                    LASTNAME: { required: true, maxlength: 255 },
                    ORGDESC: { required: true, maxlength: 255 },
                    JOBDESC: { required: true, maxlength: 255 },
                    EMAIL: { email: true, maxlength: 50 },
                    TEL: { maxlength: 50 },
                },
                submitHandler: function (form) {

                    globalFunction.confirm({
                        message: 'ต้องการบันทึกข้อมูล ?',
                        okCallback: function () {
                            globalFunction.showLoading("submit");

                            // Get form
                            var form = $('#form')[0];
                            // Create an FormData object
                            var data = new FormData(form);

                            $.ajax({
                                url: $("#form").attr('action'),
                                type: "POST",
                                data: data, //for file
                                processData: false, //for file
                                contentType: false, //for file
                                success: function (result) {
                                    globalFunction.hideLoading("submit");
                                    if (result.success == true) {
                                        globalFunction.alert({
                                                message: "บันทึกข้อมูลสำเร็จ",
                                                callback: function () {
                                                    //window.location.href = "@Url.Action("Index")";
                                                    window.location.href = "@Url.Action("Intro")?id=" + '@Model.PERSON_ID';
                                                },
                                            });
                                    } else {
                                        if (result.code == -1) {
                                            globalFunction.alert({
                                                message: "Session หมดอายุ กรุณาเข้าสู่ระบบอีกครั้ง",
                                                callback: function () {
                                                    window.location.href = "@Url.Action("Login","Home")";
                                                },
                                            });
                                        } else if (result.code == 1) {
                                            globalFunction.alert({ type: "error", message: result.message });
                                        } else {
                                            globalFunction.alert({ type: "error", message: "เกิดข้อผิดพลาด" });
                                        }
                                    }
                                },
                                error: function (e) {
                                    globalFunction.hideLoading("submit");
                                    globalFunction.alert({ type: "error", message: "เกิดข้อผิดพลาด" });
                                }
                            });
                        }
                    });


                    return false;
                }
            });
        });
    </script>
}

